{% extends 'core/base.html' %}
{% block content %}
<div class="w3-container w3-card w3-white w3-margin-bottom mb-5">
    <h1 class="text-black border-bottom">SKILLS</h1>
    <div class="row text-black">
         <!-- /* first row * -->
        <div class="col-sm-5">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:100%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>

        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Django Framework</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100" ></div>
            </div>

        </div>

    </div>

    <!--/* second row * -->
    <div class="row text-black">
        <div class="col-sm-5">
            <h3 class="mt-5">REST APIs & HTTP Methods</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:100%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

    </div>

    <!-- /* third row * -->

    <div class="row text-black">
        <div class="col-sm-5">
            <h3 class="mt-5">Git-Github </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:100%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">HTML/CSS/JavaScript </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:70%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

    </div>

    <!-- /* fourth row * -->
    <div class="row text-black mb-5 ">
        <div class="col-sm-5">
            <h3 class="mt-5">MS SQL Server  </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated   " role="progressbar" style="width:100%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">JCL(Mainframe) </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valunow="100"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </div>

    </div>

</div>

{% endblock content %}