{% extends 'core/base.html'%}
{% block content %}
<div class="w3-container w3-card w3-white w3-margin-bottom">
    <div class="mt-5 text-black mx-5 text-justify">
        <h1 class="font-weight-bold st-font "> Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;"> I am <b class="text-warning">Rahul Gaikwad</b> having 3 years
                of Back-end web development experience. I am skilled in Python programming language and
                Django REST framework.
                I am excellent in problem solving skills and I can perform well in a team. I am
                passionate about backend web development.</p>
        </div>
        <h2 class="w3-text-black w3-padding-16"><i
                class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
        </h2>
        <div class="w3-container">

            <h5 class="w3-text-black"><b>System Engineer / Tata Consultancy Services, Pune</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2019 -
                <span class="w3-tag w3-teal w3-round">Current</span></h6>
            <div class="px-4 text-black  text-justify" style="line-height:2rem;">
                <p>❖ To write efficient, reusable, testable and scalable code using
                    Python according to requirement.<br>
                    ❖ To integrate REST APIs with frontend.<br>
                    ❖ To manage the code versioning with Github and responsible for
                    the deployment to staging and production servers.<br>
                    ❖ To contribute to analysis and design of new requirements and
                    fault/bug fixes.<br>
                    ❖ To take part in code reviews and technical documentation for
                    reference and reporting.<br>
                    ❖ I am involved in the software development life cycle (SDLC) of
                    tracking the requirements gathering, analysis, and detailed
                    design development .<br>
                    ❖ I am responsible for debugging and troubleshooting
                    programming related issues.<br>
                    ❖ I contribute to regular team meetings.</p>
            </div>
            <hr>
        </div>


    </div>


</div>
{% endblock content %}